<launch>
    <arg name="rviz" default="true" />
    <node name="stairdetect" pkg="stairdetect" type="stairdetect_node" clear_params="true" output="screen">

        <!-- topic names -->
        <param name="topic_stitched_pointcloud" value="/lidar_stitch/points_stitched" type="str"/>
        <param name="topic_pose" value="/msf_core/pose" type="str"/>
        <param name="topic_trimmed_pcl" value="trimmed_pcl" type="str"/>
        <param name="topic_bird_eye_img" value="bird_eye_img" type="str"/>
        <param name="topic_proc_img" value="proc_img" type="str"/>
        <param name="topic_line_img" value="line_img" type="str"/>
        <param name="topic_filtered_line_img" value="filtered_line_img" type="str"/>
        <param name="topic_staircase_polygon" value="staircase_bound" type="str"/>

        <!-- frames -->
        <param name="frame_world" value="/world" type="str"/>
        <param name="frame_pcl" value="/velodyne" type="str"/>

        <!-- dynamic parameters-->
        <param name="debug" value="true" type="bool"/>

        <!-- line segment detector -->
        <param name="lsd_scale" value=" 0.25" type="double"/>
        <param name="lsd_sigma_scale" value=" 0.25" type="double"/>
        <param name="lsd_quant" value="2.0" type="double"/>
        <param name="lsd_angle_th" value="22.5" type="double"/>
        <param name="lsd_log_eps" value="0.0" type="double"/>
        <param name="lsd_density_th" value="0.1" type="double"/>

        <!-- morphological filter -->
        <param name="morph_kernel_size" value="2" type="int"/>
        <param name="morph_num_iter" value="2" type="int"/>

        <!-- skeleton filter -->
        <param name="skeleton_kernel_size" value="3" type="int"/>

        <!-- timing -->
        <param name="stair_detect_timing" value="5.0" type="double"/>

        <!-- clustering -->
        <param name="num_line_clusters" value="8" type="int"/>
        
        <!-- stair parameters -->
        <param name="max_clusters" value="3" type="int"/>
        
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find stairdetect)/rviz/stair_detect_test.rviz" if="$(arg rviz)"/>

</launch>

