#!/usr/bin/env python

PACKAGE = 'stairdetect'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("debug",                    bool_t,   0, "show/hide debug output", True)

gen.add("canny_low_th",             double_t, 0, "Canny low threshold",    40, 0, 100)
gen.add("canny_ratio",              double_t, 0, "Canny ratio",            10,  0, 20)
gen.add("canny_kernel_size",        int_t,    0, "Canny kernel size",      1,  0, 3)

gen.add("morph_kernel_size",        int_t,    0, "Morph kernel size",      1,  1, 11)
gen.add("morph_num_iter",           int_t,    0, "Morph num iteration",    1,  1, 10)

gen.add("lsd_scale",                double_t, 0, "lsd: lsd_scale",       0.8,  0.1, 1)
gen.add("lsd_sigma_scale",          double_t, 0, "lsd: lsd_sigma_scale", 0.6,  0.1, 1)
gen.add("lsd_quant",                double_t, 0, "lsd: lsd_quant",       2.0,  1, 10)
gen.add("lsd_angle_th",             double_t, 0, "lsd: lsd_angle_th",    22.5, 0.1, 360)
gen.add("lsd_log_eps",              double_t, 0, "lsd: lsd_log_eps",     0.0,  0, 1)
gen.add("lsd_density_th",           double_t, 0, "lsd: lsd_density_th",  0.7,  0, 1)

exit(gen.generate(PACKAGE, "stairdetect", "StairDetect"))
